*{
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
    background-color: #eaeef3;
    text-align: center;
}
h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 100px;
}
input{
    width: 50%;
    padding: 10px;
    font-size: 20px;
    border: 2px solid black;
    border-radius: 15px;
}
.todo-container{
    width: 70%;
    padding: 10px;
    margin: auto;
    /*container 중앙에 위치한다는 것*/
    margin-top: 40px;
}
.todo-section{
    display: flex;
    justify-content: space-between;
}
.todo-list, .done-list{
    width: 45%;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}
h2 {
    font-size: 20px;
    font-weight: bold;
    text-align: left;
    margin-bottom: 10px;
    border-bottom: 3px solid #ccc; /* 밑줄 추가 */
    display: inline-block; /*글짜 크기에 맞춰서 밑줄 크기 맞춤*/
}
ul {
    list-style: none;
    padding:10px;
}
li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
}
.complete-btn, .delete-btn {
    background-color: #888;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
}
.complete-btn:hover {
    background-color: #4CAF50;
}
.delete-btn:hover {
    background-color: red;
}