* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
}

.container {
    border: 1px solid black;
    padding: 10px;
}

.navbar {
    border-bottom: 2px solid #333;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

.logo {
    flex-grow: 1;
    font-size: 20px;
    font-weight: bold;
}

.menu {
    list-style: none; /* 리스트에 점을 지워줌 */
    display: flex;
    gap: 15px;
}

.menu-item {
    padding: 8px 12px;
    /* border: 1px solid #333; */
    cursor: pointer;
    transition: background 0.3s;
}

.menu-item:hover {
    background: lightblue;
}
